name: Python Tests

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          echo github.workspace: ${{ github.workspace }}
          echo GITHUB_WORKSPACE: $GITHUB_WORKSPACE      
      - uses: actions/setup-python@v4
        with:
          python-version: '3.13'
      - name: Run Unit tests
      - run: ./.venv/bin/python -m unittest discover -v
